* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: hsl(0, 0%, 94%);
	font-family: "Poppins", sans-serif;
}

.age-calculator {
	width: 355px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10rem;
	background-color: hsl(0, 0%, 100%);
	border-radius: 25px 25px 100px 25px;
}

.age-inputs {
	display: flex;
	width: 300px;
	height: 100px;
	margin-top: 2rem;
	margin-right: 2rem;
	gap: 1rem;
}

.day-input,
.month-input,
.year-input {
	width: 150px;
}

.day-input span,
.month-input span,
.year-input span {
	text-transform: uppercase;
	font-weight: 700;
	color: hsl(0, 1%, 44%);
}

.input-day,
.input-month,
.input-year {
	width: 100px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid hsl(0, 0%, 86%);
	outline: none;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}

.error-day,
.error-month,
.error-year {
	font-size: 10px;
	font-weight: 400;
	font-style: italic;
	color: hsl(0, 100%, 67%);
}

hr {
	width: 340px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border: none;
	height: 1px;
	background-color: hsl(0, 0%, 86%);
	position: relative;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 70px;
	height: 70px;
	background-color: hsl(259, 100%, 65%);
	border-radius: 50%;
	top: 306px;
}

.image-container img {
	width: 26px;
	height: 26px;
}

.age-results {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
	font-size: 52px;
	line-height: 60px;
}

.year,
.months,
.days {
	color: hsl(0, 0%, 8%);
}

.display-result {
	color: hsl(259, 100%, 65%);
}

@media screen and (min-width: 426px) and (max-width: 2560px) {
	.age-calculator {
		width: 850px;
		height: 600px;
	}

	.age-inputs {
		width: 600px;
		align-items: baseline;
		margin-left: -4.5rem;
	}

	.day-input,
	.month-input,
	.year-input {
		width: auto;
	}

	.day-input span,
	.month-input span,
	.year-input span {
		text-transform: uppercase;
		font-weight: 700;
		color: hsl(0, 1%, 44%);
	}

	.input-day,
	.input-month,
	.input-year {
		width: 150px;
		height: 60px;
		margin-right: 2rem;
		font-size: 32px;
	}

	.input-day:focus,
	.input-month:focus,
	.input-year:focus {
		border-color: hsl(259, 100%, 65%);
		caret-color: hsl(259, 100%, 65%);
	}

	.error-day,
	.error-month,
	.error-year {
		font-size: 12px;
		font-weight: 400;
		font-style: italic;
		color: hsl(0, 100%, 67%);
	}

	hr {
		width: 700px;
		border: none;
		height: 1px;
		background-color: hsl(0, 0%, 86%);
		margin-bottom: 6rem;
	}

	.image-container {
		right: 600px;
		width: 100px;
		height: 100px;
		top: 290px;
	}

	.image-container img {
		right: 410px;
		width: 50px;
		height: 50px;
	}

	.image-container:hover {
		background-color: hsl(0, 0%, 8%);
		cursor: pointer;
	}

	.age-results {
		margin-left: 140px;
		font-size: 90px;
		line-height: 110px;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
